@charset "UTF-8";
@font-face {
  font-family: 'Conv_krungsri_con-webfont';
  src: url("/fonts/krungsri_con-webfont.eot");
  src: local("☺"), url("/fonts/krungsri_con-webfont.woff") format("woff"), url("/fonts/krungsri_con-webfont.ttf") format("truetype"), url("/fonts/krungsri_con-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_krungsri_con_med-webfont';
  src: url("/fonts/krungsri_con_med-webfont.eot");
  src: local("☺"), url("/fonts/krungsri_con_med-webfont.woff") format("woff"), url("/fonts/krungsri_con_med-webfont.ttf") format("truetype"), url("/fonts/krungsri_con_med-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_krungsri_con_bol-webfont';
  src: url("/fonts/krungsri_con_bol-webfont.eot");
  src: local("☺"), url("/fonts/krungsri_con_bol-webfont.woff") format("woff"), url("/fonts/krungsri_con_bol-webfont.ttf") format("truetype"), url("/fonts/krungsri_con_bol-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

#banner .padding0 {
  padding: 0px; }

#banner .marginTop10 {
  margin-top: 10px; }

#banner .marginTop30 {
  padding-top: 30px; }

#banner .marginBot30 {
  padding-bottom: 30px; }

#banner .btn-position {
  position: relative;
  margin-top: 550px; }

#banner .title-position {
  position: relative;
  bottom: 60px; }

#banner .line {
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-color: #ffd400; }

#banner .video-size {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
  z-index: -1; }

#banner .scroll-index {
  z-index: 2; }

@media screen and (max-device-width: 767px) and (min-device-width: 576px) {
  #banner .btn-position {
    margin-top: 650px; } }

@media screen and (max-device-width: 576px) and (min-device-width: 0px) {
  #banner .video-size {
    width: 100%; }
  #banner .btn-position {
    margin-top: 400px; }
  #banner .scroll-text {
    font-size: 8pt; } }

@media only screen and (device-width: 768px) and (device-height: 1024px) {
  #banner .video-size {
    width: 100%; }
  #banner .btn-position {
    margin-top: 300px; }
  #banner .scroll-text {
    font-size: 6pt; } }

@media only screen and (device-width: 1024px) and (device-height: 768px) {
  #banner .video-size {
    width: 100%; }
  #banner .btn-position {
    margin-top: 450px; }
  #banner .scroll-text {
    font-size: 6pt; } }

@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  #banner .video-size {
    width: 100%; }
  #banner .btn-position {
    margin-top: 450px; }
  #banner .scroll-text {
    font-size: 6pt; } }

.banner-position {
  position: relative;
  margin-top: -110px; }
