@charset "UTF-8";
@font-face {
  font-family: 'Conv_krungsri_con-webfont';
  src: url("/fonts/krungsri_con-webfont.eot");
  src: local("☺"), url("/fonts/krungsri_con-webfont.woff") format("woff"), url("/fonts/krungsri_con-webfont.ttf") format("truetype"), url("/fonts/krungsri_con-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_krungsri_con_med-webfont';
  src: url("/fonts/krungsri_con_med-webfont.eot");
  src: local("☺"), url("/fonts/krungsri_con_med-webfont.woff") format("woff"), url("/fonts/krungsri_con_med-webfont.ttf") format("truetype"), url("/fonts/krungsri_con_med-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_krungsri_con_bol-webfont';
  src: url("/fonts/krungsri_con_bol-webfont.eot");
  src: local("☺"), url("/fonts/krungsri_con_bol-webfont.woff") format("woff"), url("/fonts/krungsri_con_bol-webfont.ttf") format("truetype"), url("/fonts/krungsri_con_bol-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

#promote {
  background-color: #c3c5c6;
  border-top: 5px solid #ffd400;
  padding: 0px;
  margin: 50 0 0 0; }
  #promote .marginTop10 {
    margin-top: 10px; }
  #promote .marginTop20 {
    margin-top: 20px; }
  #promote .marginTop30 {
    margin-top: 30px; }
  #promote .container-size {
    height: 750px; }
  #promote .paddingTop80 {
    padding-top: 80px; }
  #promote .paddingTop10 {
    padding-top: 10px; }
  #promote .topic {
    color: #55565a;
    font-family: "Conv_krungsri_con_bol-webfont";
    font-size: 2.5em; }
  #promote .sub-topic {
    font-family: "Conv_krungsri_con_med-webfont";
    line-height: 1.75;
    color: #414141; }
  #promote .topic-position, #promote .sub-topic-position {
    position: relative;
    left: -30px; }
  #promote .des-block {
    padding-right: 50px; }
  #promote .description {
    font-size: 0.9em;
    color: #414141; }
  #promote .download-text {
    font-family: "Conv_krungsri_con_med-webfont"; }
  #promote .mobile-pic {
    width: 100%;
    height: auto; }
  #promote .text-block-position {
    position: relative;
    left: -35px; }
  #promote .btn-goweb {
    padding: 10 0 10 0;
    margin: 30;
    background-color: #4e5156;
    border: 2px solid #4e5156;
    border-radius: 10px;
    font-family: "Conv_krungsri_con_med-webfont"; }
  #promote .btn-goweb:hover {
    color: #4e5156;
    background-color: transparent;
    cursor: pointer; }
  #promote .align-icon {
    -ms-flex-align: center;
        align-items: center; }
  #promote .logo-prime {
    height: 60px; }
  #promote .logo-store {
    height: 40px; }

@media screen and (max-device-width: 768px) and (min-device-width: 576px) {
  .mobile-pic {
    width: auto;
    height: 300px; }
  .btn-goweb {
    font-size: 10pt; } }

@media screen and (max-device-width: 576px) and (min-device-width: 0px) {
  .text-block-position {
    left: 0px !important; }
  .mobile-pic {
    width: auto;
    height: 300px; }
  .des-block {
    padding-right: 15px !important; }
  .btn-goweb {
    font-size: 8pt; }
  .logo-prime {
    height: 80px !important; }
  .logo-store {
    width: auto;
    height: 40px !important; }
  .marginTop25 {
    margin-top: 25px; } }
