@import 'font';

// Body
$body-bg: #414141;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Fonts
$krungsri: 'Conv_krungsri_con-webfont';
$krungsriMed: "Conv_krungsri_con_med-webfont";
$krungsriBol: "Conv_krungsri_con_bol-webfont";