@import 'variables';

#banner {

    

    .padding0 {
        padding: 0px;
    }

    .marginTop10 {
        margin-top: 10px;
    }

    .marginTop30 {
        padding-top: 30px;
    }

    .marginBot30 {
        padding-bottom: 30px;
    }

    .btn-position {
        position: relative;
        margin-top: 550px;
    }

    .title-position {
        position: relative;
        bottom: 60px;
    }

    .line {
        border-bottom: 3px solid;
        border-top: 3px solid;
        border-color: #ffd400;
    }

    .video-size {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-5%);
        z-index: -1;
    }

    .scroll-index {
        z-index: 2;
    }
}

.banner-position {
    position: relative;
    margin-top: -110px;
       
}

@media screen 
and (max-device-width: 768px)
and (min-device-width: 576px) {
    .btn-position {
        position: relative;
        margin-top: 500px;
    }
}

@media screen 
and (max-device-width: 576px)
and (min-device-width: 0px) {
    .btn-position {
        position: relative;
        margin-top: 450px;
    }
}