@import 'variables';
 
body {
     background-color: $body-bg;
     color: #fff;
     font-family: $krungsri, monospace;
     line-height: 2.2;
}

.line-nav {
    border-top: 5px solid #ffd400;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}

.logo {
    position: relative;
    bottom: 6px;
    z-index: 2;
}

#footer {
    .yellowbg {
        background-color: #ffd400;
    }

    .black-text {
        color: #000;
    }

    .paddingTB10 {
        padding: 10 0 10 0;
    }

    .margin0 {
        margin: 0px;
    }
}

.bounceTopDown {
    animation: moveTopDown 2s infinite backwards;
}

.img-people:hover {
    animation: zoomImg 1s 1 forwards;
}

.fade-modal-up {
    animation: fade-modal-up 3s 1;
}

[data-aos="fade-center"] {
    opacity: 0;
    &.aos-animate{
        opacity: 1;
        animation: fade-from-center 4s;
    }
}

[data-aos="header-down"] {
    opacity: 0;
    &.aos-animate{
        opacity: 1;
        animation: fade-topic-down 4s;
    }
}

[data-aos="header-up"] {
    opacity: 0;
    &.aos-animate{
        opacity: 1;
        animation: fade-topic-up 4s;
    }
}

@-webkit-keyframes moveTopDown {
    0% {top: 0px;}
    50% {top: 20px;}
    100% {top: 0px;}
}

@keyframes moveTopDown {
    0% {top: 0px;}
    50% {top: 20px;}
    100% {top: 0px;}
}

@-webkit-keyframes zoomImg {
    0% {transform: scale(1);}
    100% {transform: scale(1.2);}
}

@keyframes zoomImg {
    0% {transform: scale(1);}
    100% {transform: scale(1.2);}
}

@-webkit-keyframes fade-from-center {
    from {
        opacity: 0;
        margin-left: 50%;
        width: 0%; 
    }
  
    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes fade-from-center {
    from {
        opacity: 0;
        margin-left: 50%;
        width: 0%; 
    }
  
    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}

@-webkit-keyframes fade-topic-down {
    0% {margin-top: -20px;}
    100% {margin-top: 0px;}
}

@keyframes fade-topic-down {
    0% {margin-top: -20px;}
    100% {margin-top: 0px;}
}

@-webkit-keyframes fade-topic-up {
    0% {transform: translate(0%, 50%);}
    100% {transform: translate(0%, 0%);}
}

@keyframes fade-topic-up {
    0% {transform: translate(0%, 50%);}
    100% {transform: translate(0%, 0%);}
}