@import 'variables';
 
body {
     background-color: $body-bg;
     color: #fff;
     font-family: $krungsri, monospace;
}

.line-nav {
    border-top: 5px solid #ffd400;
    padding: 0px;
    margin: 0px;
}

.logo {
    position: relative;
    bottom: 6px;
    z-index: 1;
}