@import 'variables';
 
body {
     background-color: $body-bg;
     color: #fff;
     font-family: $krungsri, monospace;
     line-height: 2.2;
}

.line-nav {
    border-top: 5px solid #ffd400;
    padding: 0px;
    margin: 0px;
    z-index: 1;
}

.logo {
    position: relative;
    bottom: 6px;
    z-index: 2;
}

#footer {
    .yellowbg {
        background-color: #ffd400;
    }

    .black-text {
        color: #000;
    }

    .paddingTB10 {
        padding: 10 0 10 0;
    }

    .margin0 {
        margin: 0px;
    }
}

.bounceTopDown {
    animation: moveTopDown 2s infinite backwards;
}

@-webkit-keyframes moveTopDown {
    0% {top: 0px;}
    50% {top: 20px;}
    100% {top: 0px;}
}

@keyframes moveTopDown {
    0% {top: 0px;}
    50% {top: 20px;}
    100% {top: 0px;}
}