@import 'variables';

#promote {

    background-color: #c3c5c6;
    border-top: 5px solid #ffd400;
    padding: 0px;
    margin: 50 0 0 0;
    
    .marginTop10 {
        margin-top: 10px;
    }

    .marginTop20 {
        margin-top: 20px;
    }

    .marginTop30 {
        margin-top: 30px;
    }

    .container-size {
        height: 750px;
    }

    .paddingTop80 {
        padding-top: 80px;
    }

    .paddingTop10 {
        padding-top: 10px;
    }

    .topic {
        color: #55565a;
        font-family: $krungsriBol;
        font-size: 2.5em;
    }

    .sub-topic {
        font-family: $krungsriMed;
        line-height: 1.75;
        color: #414141
    }

    .topic-position, .sub-topic-position {
        position: relative;
        left: -30px;
    }

    .des-block {
        padding-right: 50px;
    }

    .description {
        font-size: 0.9em;
        color: #414141;
    }

    .download-text {
        font-family: $krungsriMed;
    }

    .mobile-pic {
        width: 100%;
        height: auto;
    }

    .text-block-position {
        position: relative;
        left: -35px;
    }

    .btn-goweb {
        padding: 10 0 10 0;
        margin: 30;
        background-color: #4e5156;
        border: 2px solid #4e5156;
        border-radius: 10px;
        font-family: $krungsriMed;
    }

    .btn-goweb:hover {
        color: #4e5156;
        background-color: transparent;
        cursor: pointer;
    }

    .align-icon {
        align-items: center;
    }

    .logo-prime {
        height: 60px;
    }

    .logo-store {
        height: 40px;
    }

    @media only screen
    and (device-width: 1024px)
    and (device-height: 768px) {
        .mobile-pic {
            width: 100%;
            height: auto;
        }
    }
    
    @media screen 
    and (min-device-width: 768px)
    and (max-device-width: 991px) {
        .text-block-position {
            left: 0px !important;
        }

        .mobile-pic {
            width: auto;
            height: 300px;
        }

        .btn-goweb {
            font-size: 10pt;
        }

        .des-block {
            padding-right: 15px !important;
        }
    }

    @media screen 
    and (max-device-width: 768px)
    and (min-device-width: 576px) {
        .text-block-position {
            left: 0px !important;
        }

        .mobile-pic {
            width: auto;
            height: 300px;
        }

        .btn-goweb {
            font-size: 10pt;
        }

        .des-block {
            padding-right: 15px !important;
        }
    }

    @media screen 
    and (max-device-width: 576px)
    and (min-device-width: 0px) {
        .logo {
            width: 100%;
        }

        .text-block-position {
            left: 0px !important;
        }
        
        .mobile-pic {
            width: 100%;
            height: auto;
        }

        .des-block {
            padding-right: 15px !important;
        }

        .btn-goweb {
            font-size: 8pt;
            margin: 30 20;
        }

        .logo-prime {
            height: 80px !important;
        }

        .logo-store {
            width: auto;
            height: 30px !important;
        }

        .marginTop25 {
            margin-top: 25px;
        }
    }
}