#card {

    .marginTop20 {
        margin-top: 20px;
    }

    .padding10 {
        padding: 10px;
    }

    .whitebg {
        background-color: #fff;
    }

    .black-text {
        color: #303030;
    }

    .btn-load {
        border: 2px solid #ffd400;
        border-radius: 5px;
    }

    .btn-load:hover {
        background-color: #ffd400;
        color: #000;
        cursor: pointer;
    }

    .load-text {
        color: #ffd400;
    }
}