@import 'variables';

#youngblock {

    .padding0 {
        padding: 0px;
    }

    .marginTop15 {
        margin-top: 15px;
    }

    .marginTop50 {
        margin-top: 50px;
    }

    .margin-block {
        margin-top: 0;
    }

    .column2-position {
        position: relative;
        bottom: 120px;
    }

    .block-shadow {
        box-shadow: 0px 0px 50px #000; 
    }

    .arrow-carousel {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
        top: 40%;
        transform: translate(0%, -50%)
    }

    .arrow-size {
        height: 30px;
        width: auto;
    }

    .img-block {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 250px;
    }

    .img-size {
        width: 100%;
    }

    .img-people {
        position: relative;
        overflow: hidden;
    }

    .hashtag-million-text {
        font-family: $krungsriMed;
        letter-spacing: 4px;
    }

    .yellow-text {
        color: #ffd400;
    }

    .des-people {
        font-size: 6pt;
        letter-spacing: 1px;
    }

    .des-people-position {
        position: relative;
        bottom: 25px;
    }

    .relation-position {
        position: relative;
    }

    .des-position {
        position: relative;
        margin-top: -55px;
    }

    .no-margin {
        margin: 0;
    }

    .line-between-text {
        display: inline;
        border-top: 2px solid #ffd400;
        position: relative;
        top: 7px;
    }

    .click-cursor {
        cursor: pointer;
    }
    
    .cursor-of-block {
        cursor: pointer;
    }

    #modal {
        .concept-text {
            line-height: 2;
            letter-spacing: 2;
            font-size: 10pt;
        }

        .modal-size {
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            height: 100%;
            background-color: $body-bg;
        }

        .line {
            border-top: 5px solid #ffd400;
            z-index: 1;
            position: relative;
            left: 15px;
            top: -5px;
        }
    
        .top-line {
            border-top: 5px solid #ffd400;
            z-index: 1;
            position: relative;
        }

        .close-button {
            font-size: 2em;
            color: #fff;
            cursor: pointer;
        }

        .max-width {
            max-width: 100%;
        }
    
        .marginT10B20 {
            margin: 10 0 20 0;
        }
    
        .block-qoute {
            background-color: #303030;
        }

        .block-qoute-position {
            position: relative;
        }
    
        .qoute-position {
            position: absolute;
            max-width: 80%;
            max-height: 100%;
            width: 80%;
            top: 50%;
            left: 54%;
            transform: translate(-50%, -50%);
        }
    
        .qoute-text {
            font-family: $krungsriMed;
            font-size: 16pt;
        }

        .string-qoute {
            font-size: 1em;
            position: relative;
            bottom: 25px;
            letter-spacing: 1.5;
        }

        .string-qoute-top {
            position: relative;
            top: -25;
        }

        .string-qoute-down {
            position: relative;
            bottom: 10px;
        }

        .block-bottom-qoute {
            margin-top: 20px;
            border-top: 3px solid #ffd400;
            border-bottom: 3px solid #ffd400;
            padding: 10px;

            .logo {
                width: 100%;
            }
        }
    }

    @media only screen
    and (device-width: 1024px)
    and (device-height: 1366px) {
        .img-size {
            width: 295px;
            height: auto;
        }

        .des-people {
            font-size: 4pt;
        }

        .des-position {
            top: 20px;
        }

        .position-for-ipad {
            margin-top: 120px;
        }
    }

    @media only screen
    and (device-width: 1024px)
    and (device-height: 768px) {
        .img-size {
            width: 295px;
            height: auto;
        }

        .hidden-for-ipad {
            visibility: hidden;
        }

        .des-position {
            bottom: 50px;
        }

        .position-for-ipad {
            margin-top: 120px;
        }
    }

    @media screen 
    and (max-device-width: 992px)
    and (min-device-width: 768px) {
        .img-size {
            width: 215px;
            height: auto;
        }

        .margin-block {
            margin-top: -50px;
        }

        .position-for-ipad {
            margin-top: 100px;
        }

        .des-position {
            margin: 0px;
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .qoute-position {
            margin-top: 20px;
        }

        .qoute-text {
            font-size: 10pt !important;
        }

        .block-bottom-qoute {
            margin-bottom: 50px;
        }

        .qoute-size {
            width: auto;
            height: 10px;
        }

        .concept-text {
            font-size: 8pt;
        }

        .container {
            max-width: 90%;
        }
    }

    @media only screen
    and (device-width: 768px)
    and (device-height: 1024px) {
        .img-block {
            width: 100%;
            height: 300px;
            overflow: hidden;
        }

        .margin-block {
            margin-top: -20px;
        }

        .des-position {
            margin: 0px;
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 80% !important;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .des-people {
            font-size: 4pt;
        }

        .line-between-text {
            top: 4px !important;
        }

        .img-size {
            width: 100%;
        }

        .img-for-ipad {
            width: 215px;
            height: auto;
        }

        .hidden-for-ipad {
            visibility: hidden;
        }

        .des-position {
            top: 65%;
            left: 53%;
        }

        .position-for-ipad {
            margin-top: 120px;
        }

        .concept-text {
            letter-spacing: 1 !important;
            font-size: 6pt !important;
        }
    }

    @media screen 
    and (max-device-width: 767px)
    and (min-device-width: 576px) {
        .img-block {
            width: 100%;
            height: 300px;
            overflow: hidden;
        }

        .margin-block {
            margin-top: -20px !important;
        }

        .des-position {
            z-index: 2;
            margin: 0px;
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .des-people {
            font-size: 6pt;
        }

        .line-between-text {
            top: 4px !important;
        }

        .qoute-position {
            margin-top: 20px;
        }

        .qoute-text {
            font-size: 10pt !important;
        }

        .block-bottom-qoute {
            margin-bottom: 50px;
        }

        .block-qoute {
            height: 350px;
        }

        .qoute-size {
            width: auto;
            height: 10px;
        }

        .concept-text {
            font-size: 8pt;
        }
    }

    @media screen 
    and (max-device-width: 576px)
    and (min-device-width: 321px) {
        .img-block {
            width: 100%;
            height: 280px;
            overflow: hidden;
        }

        .mobile-modal {
            margin-top: 220px !important;
        }

        .margin-block {
            margin-top: -50px;
        }

        .des-position {
            margin: 0;
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .des-people {
            font-size: 4pt;
        }

        .line-between-text {
            top: 4px !important;
        }

        .block-close-position {
            position: relative;
            margin-top: -100px !important;
            top: -120px;
        }

        .close-position {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            left: 50%;
            top: 50;
            transform: translate(-50%, -50%);
        }

        .qoute-position {
            margin-top: 20px;
        }

        .qoute-text {
            font-size: 10pt !important;
        }

        .block-bottom-qoute {
            margin-bottom: 50px;
        }

        .block-qoute {
            height: 350px;
        }

        .qoute-size {
            width: auto;
            height: 10px;
        }

        .concept-text {
            font-size: 9pt !important;
        }
    }

    @media screen 
    and (max-device-width: 320px)
    and (min-device-width: 0px) {
        .img-block {
            width: 100%;
            height: 250px;
            overflow: hidden;
        }

        .img-size {
            height: 200px;
            width: auto;
        }

        .arrow-carousel {
            top: 40%;
        }

        .mobile-modal {
            margin-top: 220px !important;
        }

        .margin-block {
            margin-top: -50px;
        }

        .des-position {
            margin: 0;
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 78%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .hashtag-million-text {
            font-size: 10pt;
        }

        .des-people {
            font-size: 3pt;
        }

        .line-between-text {
            top: 2.5px !important;
        }

        .block-close-position {
            position: relative;
            margin-top: -100px !important;
            top: -120px;
        }

        .close-position {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            left: 50%;
            top: 50;
            transform: translate(-50%, -50%);
        }

        .qoute-position {
            margin-top: 20px;
        }

        .qoute-text {
            font-size: 10pt !important;
        }

        .block-bottom-qoute {
            margin-bottom: 50px;
        }

        .block-qoute {
            height: 350px;
        }

        .qoute-size {
            width: auto;
            height: 10px;
        }

        .concept-text {
            font-size: 8pt !important;
        }
    }
}